![image](https://user-images.githubusercontent.com/57321948/196933065-4b16c235-f3b9-4391-9cfe-4affcec87c35.png)

# Submitted by: Mohammad Wasiq

## Email: `gl0427@myamu.ac.in`

# Placement Python Assignment 7

Question 7 -

Using the data from Question 4, write code to analyze the data and answer the following questions Note -

1. Draw plots to demonstrate the analysis for the following questions for better visualizations

2. Write code comments wherever required for code understanding

Insights to be drawn -

● Get all the Earth meteorites that fell before the year 2000

● Get all the earth meteorites co-ordinates who fell before the year 1970

● Assuming that the mass of the earth meteorites was in kg, get all those whose mass was more
than 10000kg

Ans:

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("Output.csv")

In [3]:
df.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.77500,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN
1,Aarhus,2,Valid,H6,720.0,Fell,1951-01-01T00:00:00.000,56.18333,10.23333,"{'type': 'Point', 'coordinates': [10.23333, 56...",NaN,NaN
2,Abee,6,Valid,EH4,107000.0,Fell,1952-01-01T00:00:00.000,54.21667,-113.00000,"{'type': 'Point', 'coordinates': [-113, 54.216...",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976-01-01T00:00:00.000,16.88333,-99.90000,"{'type': 'Point', 'coordinates': [-99.9, 16.88...",NaN,NaN
4,Achiras,370,Valid,L6,780.0,Fell,1902-01-01T00:00:00.000,-33.16667,-64.95000,"{'type': 'Point', 'coordinates': [-64.95, -33....",NaN,NaN

In [23]:
df.shape

(1000, 15)

In [25]:
# Get all the Earth meteorites that fell before the year 2000

df["only_year"] = df["year"].apply(lambda x : str(x).split("T")[0].split("-")[0])
df["before_2000"] = df["only_year"].astype(float) < 2000
df.loc[df["before_2000"] == True]["name"]

0         Aachen
1         Aarhus
2           Abee
3       Acapulco
4        Achiras
         ...
994     Timochin
995     Tirupati
997        Tjabe
998     Tjerebon
999    Tomakovka
Name: name, Length: 929, dtype: object

In [48]:
# Get all the earth meteorites co-ordinates who fell before the year 1970
import ast
df["year_1970"] = df["only_year"].astype(float) < 1970
coordinates = df.loc[df["year_1970"] == True]["geolocation"].dropna().apply(lambda x : ast.literal_eval(x))
coordinates

0      {'type': 'Point', 'coordinates': [6.08333, 50....
1      {'type': 'Point', 'coordinates': [10.23333, 56...
2      {'type': 'Point', 'coordinates': [-113, 54.216...
4      {'type': 'Point', 'coordinates': [-64.95, -33....
5         {'type': 'Point', 'coordinates': [71.8, 32.1]}
                             ...
994       {'type': 'Point', 'coordinates': [35.2, 54.5]}
995    {'type': 'Point', 'coordinates': [79.41667, 13...
997    {'type': 'Point', 'coordinates': [111.53333, -...
998    {'type': 'Point', 'coordinates': [106.58333, -...
999    {'type': 'Point', 'coordinates': [34.76667, 47...
Name: geolocation, Length: 774, dtype: object

In [50]:
coordinates.apply(lambda x : x['coordinates'])

0          [6.08333, 50.775]
1       [10.23333, 56.18333]
2           [-113, 54.21667]
4        [-64.95, -33.16667]
5               [71.8, 32.1]
               ...
994             [35.2, 54.5]
995     [79.41667, 13.63333]
997    [111.53333, -7.08333]
998    [106.58333, -6.66667]
999        [34.76667, 47.85]
Name: geolocation, Length: 774, dtype: object

In [22]:
# Assuming that the mass of the earth meteorites was in kg, get all those whose mass was more than 10000kg

df["col"] = df["mass"] > 10000
df.loc[df["col"] == True]["name"]

2            Abee
7            Agen
11            Aïr
16        Akyumak
27     Alfianello
          ...
991     Tieschitz
992        Tilden
994      Timochin
997         Tjabe
998      Tjerebon
Name: name, Length: 243, dtype: object